[package]
name = "layer-shell-io"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib", "lib"]
name = "layer_shell_io"

[dependencies]
anyhow = { version = "1", default-features = false, features = [
    "std",
    "backtrace",
] }
log = { version = "0.4", default-features = false }
pretty_env_logger = { version = "0.5", default-features = false }
rustls = { version = "0.23", features = ["aws-lc-rs", "log"] }
webpki-roots = "1"
libc = "0.2"
chrono = { version = "0.4", default-features = false, features = [
    "clock",
    "serde",
] }

serde = { version = "1", default-features = false, features = [
    "std",
    "derive",
] }
serde_json = { version = "1", default-features = false, features = ["std"] }
toml = "0.9"

[build-dependencies]
cc = "1"

[profile.release]
opt-level = "z"
lto = true
panic = "abort"
codegen-units = 1
