* {
  --theme-accent-color: var(--accent-color, red);
  --theme-accent-dark-color: var(--accent-dark-color, green);
  --theme-text-color: var(--text-color, yellow);
  --theme-bg-color: var(--bg-color, blue);
  --theme-solid-bg-color: var(--solid-bg-color, black);
  --theme-solid-bg-color-hover: var(--solid-bg-color-hover, gray); }

* {
  all: unset; }

* {
  color: var(--theme-text-color);
  text-decoration: none;
  font-family: "Inter Variable", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px; }

popover {
  border: 2px solid var(--theme-accent-color);
  background-color: black; }
  popover modelbutton {
    border-bottom: 1px solid var(--theme-accent-color);
    padding: 10px; }
    popover modelbutton:disabled label {
      text-decoration: line-through;
      color: var(--theme-solid-bg-color); }
    popover modelbutton:hover {
      background-color: var(--theme-solid-bg-color-hover); }
  popover check {
    background-image: -gtk-icontheme("checkbox-symbolic");
    margin-right: 5px; }
    popover check:checked {
      background-image: -gtk-icontheme("checkbox-checked-symbolic"); }
  popover radio {
    background-image: -gtk-icontheme("radio-symbolic");
    margin-right: 5px; }
    popover radio:checked {
      background-image: -gtk-icontheme("radio-checked-symbolic"); }
  popover arrow.left {
    background-image: -gtk-icontheme("go-previous-symbolic"); }
  popover arrow.right {
    background-image: -gtk-icontheme("go-next-symbolic"); }

.top-bar-window .wrapper {
  padding: 10px;
  min-height: 36px; }

.top-bar-window .widget {
  border: 2px var(--theme-accent-color) solid;
  border-radius: 10px;
  background-color: var(--solid-bg-color); }
  .top-bar-window .widget.clickable:hover {
    background-color: var(--theme-accent-color); }
    .top-bar-window .widget.clickable:hover label {
      color: var(--theme-bg-color); }
    .top-bar-window .widget.clickable:hover popover label {
      color: var(--text-color); }
    .top-bar-window .widget.clickable:hover popover modelbutton:disabled label {
      text-decoration: line-through;
      color: var(--theme-solid-bg-color); }
    .top-bar-window .widget.clickable:hover image {
      filter: invert(100%); }
  .top-bar-window .widget.padded {
    padding: 0 10px; }
  .top-bar-window .widget.workspaces button {
    min-width: 35px; }
    .top-bar-window .widget.workspaces button:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    .top-bar-window .widget.workspaces button:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .top-bar-window .widget.workspaces button.active {
      background-color: var(--theme-accent-color); }
  .top-bar-window .widget.clock {
    min-width: 60px; }
  .top-bar-window .widget.memory label {
    min-width: 100px; }
  .top-bar-window .widget.network .network-speed-label {
    min-width: 50px; }
  .top-bar-window .widget.network separator.horizontal {
    border-left: 1px solid var(--accent-color);
    margin-left: 10px;
    margin-right: 10px; }

tooltip {
  background-color: var(--theme-bg-color);
  padding: 2px;
  border: 1px solid var(--theme-accent-color); }

.launcher-window .wrapper {
  border: 5px solid var(--theme-accent-color);
  border-radius: 10px; }

.launcher-window .scroll-list {
  min-width: 500px;
  min-height: 260px;
  background-color: var(--theme-solid-bg-color);
  padding: 30px; }

.launcher-window .search-box {
  background-color: var(--theme-solid-bg-color);
  padding: 20px 30px;
  border-bottom: 5px solid var(--theme-accent-color); }
  .launcher-window .search-box image {
    margin-right: 10px; }

.launcher-window .row {
  min-width: 500px;
  padding: 10px; }
  .launcher-window .row.active {
    background-color: var(--theme-solid-bg-color-hover); }
  .launcher-window .row image {
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px; }

.session-window {
  background-color: var(--theme-solid-bg-color); }
  .session-window .wrapper {
    padding: 300px 100px; }
  .session-window button {
    border: 5px solid var(--theme-accent-color);
    border-radius: 20px; }
    .session-window button:hover {
      background-color: var(--theme-solid-bg-color-hover); }

.terminal-window {
  border: 5px solid var(--theme-accent-color);
  border-radius: 10px; }

.weather-window {
  border: 3px solid var(--theme-accent-color);
  border-radius: 10px;
  background-color: var(--theme-solid-bg-color);
  padding: 10px; }
  .weather-window label {
    padding: 5px; }
