[Unit]
Description=Layer Shell
Requires=pipewire-mon.socket weather-mon.socket niri.service tray-mon.socket
After=pipewire-mon.socket weather-mon.socket niri.service tray-mon.socket

[Service]
ExecStart=layer-shell
WorkingDirectory=%h
Restart=on-failure
RestartSec=5s
