[Unit]
Description=Layer Shell

[Service]
ExecStart=layer-shell
ExecReload=busctl --user call org.me.LayerShellControl /Control org.me.LayerShellControl ReloadStyles
WorkingDirectory=%h
Restart=on-failure
RestartSec=5s
