[Unit]
Description=Layer Shell
Requires=pipewire-mon.socket weather-mon.socket niri.service
After=pipewire-mon.socket weather-mon.socket niri.service

[Service]
ExecStart=layer-shell
WorkingDirectory=%h
Restart=on-failure
RestartSec=5s
