// reset
* {
    all: unset;
}

* {
    color: var(--on_secondary_container);
    text-decoration: none;

    font-family: "Inter Nerd Font Propo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

    --icon-font-size: 18px;
}

popover {
    border: 2px solid var(--inverse_primary);
    background-color: var(--primary_container);

    separator.horizontal {
        border-bottom: 5px solid var(--inverse_primary);
    }

    modelbutton {
        border-bottom: 1px solid var(--inverse_primary);
        padding: 10px;

        &:disabled {
            background-color: var(--secondary_container);

            label {
                text-decoration: line-through;
                color: red;
            }
        }

        &:hover {
            background-color: var(--inverse_primary);
        }
    }

    check {
        background-image: -gtk-icontheme('checkbox-symbolic');
        margin-right: 5px;

        &:checked {
            background-image: -gtk-icontheme('checkbox-checked-symbolic');
        }
    }

    radio {
        background-image: -gtk-icontheme('radio-symbolic');
        margin-right: 5px;

        &:checked {
            background-image: -gtk-icontheme('radio-checked-symbolic');
        }
    }

    arrow {
        &.left {
            background-image: -gtk-icontheme('go-previous-symbolic');
        }

        &.right {
            background-image: -gtk-icontheme('go-next-symbolic');
        }
    }
}

.top-bar-window {
    .wrapper {
        padding: 10px 10px 0px 10px;
        min-height: 36px;
    }

    .widget {
        border: 2px var(--inverse_primary) solid;
        border-radius: 10px;
        background-color: var(--surface_container-alpha);

        &.clickable:hover {
            background-color: var(--inverse_primary);

            label {
                color: #151515;
            }

            popover {
                label {
                    color: var(--on_secondary_container);
                }

                modelbutton:disabled label {
                    text-decoration: line-through;
                    color: var(--surface_container);
                }
            }
        }

        &.padded {
            padding: 0 10px;
        }

        &.change-theme {
            label {
                font-size: var(--icon-font-size);
            }
        }

        &.workspaces {
            row {
                padding: 0;
                background: none;

                &:hover, &:focus {
                    background: none;
                }
            }

            button {
                min-width: 35px;

                &:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &:checked {
                    background-color: var(--inverse_primary);
                }
            }
        }

        &.cpu {
            row {
                padding: 0 1px;
                margin: 0;
                min-height: 0;

                &:hover, &:focus {
                    background: none;
                }
            }
        }

        &.clock {
            min-width: 150px;
            font-family: "AdwaitaMono Nerd Font Mono", serif;
        }


        &.memory {
            label {
                min-width: 100px;
            }
        }

        &.network {
            .network-speed-label {
                min-width: 50px;
            }

            separator.vertical {
                border-left: 1px solid var(--inverse_primary);
                margin-left: 10px;
                margin-right: 10px;
            }

            .network-icon {
                font-size: var(--icon-font-size);
            }
        }

        &.bluetooth {
            label {
                font-size: var(--icon-font-size);
                padding: 0 5px;
            }
        }

        &.power {
            label {
                font-size: var(--icon-font-size);
                padding: 0 5px;
            }
        }
    }
}

tooltip {
    background-color: #151515;
    padding: 2px;
    border: 1px solid var(--inverse_primary);
}

.session-window {
    .wrapper {
        button {
            border: 2px solid var(--inverse_primary);
            border-radius: 10px;
            background-color: var(--surface_container-alpha);

            label {
                font-size: 18px;
            }

            &:hover {
                background-color: var(--inverse_primary);

                label {
                    color: #151515;
                }
            }
        }
    }
}

.terminal-window {
    border: 5px solid var(--inverse_primary);
    border-radius: 10px;
}

.weather-window {
    border: 3px solid var(--inverse_primary);
    border-radius: 10px;
    background-color: var(--surface_container-alpha);
    padding: 10px;

    label {
        padding: 5px;
    }

    .icon {
        font-size: var(--icon-font-size);
    }
}

.notification-window {
    border: 3px solid var(--inverse_primary);
    border-radius: 10px;
    background-color: var(--surface_container-alpha);
    padding: 15px;
}

.sound-window {
    label {
        min-width: 30px;
        font-size: 30px;
    }

    scale {
        trough {
            min-height: 50px;
            background-color: var(--surface-alpha);
            border-radius: 10px;

            highlight {
                background-color: var(--inverse_primary);
            }
        }
    }
}

.caps-lock-window {
    .icon {
        font-size: 30px;
        min-width: 30px;
    }

    .status {
        font-size: 20px;
        min-width: 200px;
    }
}

.tracker-window {
    border: 3px solid var(--inverse_primary);
    border-radius: 10px;
    background-color: var(--surface_container-alpha);
    padding: 20px;
    min-width: 700px;

    .tracker-row {
        padding: 5px;

        &.selected {
            background-color: var(--tertiary_container-alpha);
        }

        label {
            font-size: 16px;
        }

        .duration {
            font-family: "AdwaitaMono Nerd Font Mono", serif;
        }
    }

    button label {
        font-size: var(--icon-font-size);
    }

}
